<!-- include header -->
<%- include('include/_header') %>
    <!-- /include header -->

    <!-- Main -->

    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="update_user"><i class="fas fa-angle-double-left"></i> All Users</a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">Update User</h2>
                <span class="text-light">Use the below form to update an account</span>
            </div>

            <!-- Form Handling -->
            <%- include('include/_form') %>
                <!-- /Form Handling -->

        </div>
    </main>

    <!-- /Main -->


    <!--  include footer -->
    <%- include('include/_footer') %>
        <!-- /include footer  -->