<tr>
    <td>1</td>
    <td>Shivam vora</td>
    <td>vorashivam0@gmail.com</td>
    <td>Male</td>
    <td>Active</td>
    <td>
        <a href="/update-user" class="btn border-shadow update">
            <span class="text-gradient">
                <i class="fas fa-user-edit"></i>
            </span>
        </a>

        <a class="btn border-shadow delete">
            <span class="text-gradient">
                <i class="fas fa-user-times"></i>
            </span>
        </a>
    </td>
</tr>